@media all and (min-width: 1680px){
    #nav .floor1 > li > a{
        font-size: 18px;
        padding: 29px 18px;
    }

    #nav .floor2 > li{
        width: 430px;
    }
}

@media all and (max-width: 1480px){
    .container{
        box-sizing: border-box;
    }

    #header .container{
        width: 100%;
        padding: 0 30px;
    }

    .logo{
        margin-right: 15px;
    }
}

@media all and (max-width: 1380px){
    .container{
        width: 100%;
        padding: 0 30px;
    }

    .main_minister{
        padding: 20px 8px;
    }

}

@media all and (max-width: 1300px){

    .new_kr a img{
        width: 6vw;
    }

    .main_search{
        width: 12vw;
    }

    #main{
        margin-bottom: 60px;
    }

    .main > strong{
        display: none;
    }

    .main_slide{
        box-sizing: border-box;
        padding: 50px 40px 0px 40px;
    }
    
    .main_slide .swiper-slide{
        width: 100%;
        max-width: 100%;
        padding: 0 0 160px 0;
    }

    .mss_desc{
        width: 570px;
        left: 50%;
        transform: translateX(-50%);
        height: 155px;
        bottom: -77.5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .main_slide_control{
        bottom: 0;
        margin-left: 0;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    }

    #main_notice::before{
        top: 52px;
        height: 250px;
    }

    .main_tit{
        padding-bottom: 35px;
    }

    .nt_direct_link{
        top: -60px;
    }

    .notice_tab_btn{
        width: 100%;
        padding-top: 30px;
    }

    .notice_tab{
        top: 145px;
    }

    .main_notice_list{
        width: calc(100% - 505px);
        margin: 0;
    }

    .nt_txt{
        width: 100%;
        max-width: calc(100% - 80px);
    }

    .nt_txt a{
        width: 100%;
        justify-content: space-between;
    }

    .nt_txt a p{
        font-size: 16px;
    }

    .main_minister{
        display: flex;
        flex-wrap: wrap;
        width: 465px;
    }

    .minister_tit{
        width: 140px;
        height: 50px;
        border-radius: 14px 0;
    }

    .minister_tit h2{
        font-size: 16px;
        background-size: 16px;
    }

    .minister_top{
        flex-direction: column; 
        width: calc(100% - 135px);
    }

    .minister_top h3{
        font-size: 22px;
        text-align: center;
    }

    .minister_top h3 strong{
        font-size: 28px;
    }

    .minister_portrait img{
        width: 160px;
    }

    .minister_link{
        width: 135px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .minister_link ul{
        width: 105px;
        flex-direction: column;
        gap: 5px 0;
    }

    .minister_link ul li{
        width: 100%;
    }

    .minister_link ul li a{
        font-size: 14px;
    }

    .minister_link ul li:first-child a{
        font-size: 14px;
    }

    #main_info{
        padding-left: 30px;
    }

    .main_info_slide .swiper-slide.active{
        opacity: 0.2 !important;
    }

    .main_info_slide_control{
        right: 0;
        margin-right: 0;
    }

    .main_commu_slide .swiper-slide{
        width: 265px;
    }
}

@media all and (max-width: 1200px){

    .new_kr a img{
        width: 7.3vw;
    }

    #nav .floor1 > li > a{
        font-size: 14px;
        padding: 31px 18px;
    }

    #main_notice::before{
        width: 35vw;
    }

    .main_sns{
        width: 100%;
        margin-bottom: 40px;
    }

    .main_commu_slide .swiper-slide.active{
        opacity: 1;
    }

    .main_koreaz{
        width: 100%;
    }

    .koreaz_box{
        display: flex;
        flex-wrap: wrap;
    }

    .koreaz_top{
        width: 50%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    }

    .krz_top_img_box{
        justify-content: center;
        gap: 0 20px;
    }

    .krz_img{
        width: 140px;
    }

    .krz_top_link ul{
        justify-content: center;
        gap: 0 10px;
    }

    .krz_top_link ul li{
        width: 105px;
    }

    .krz_video_link{
        width: 50%;
    }

    .krz_video_link a{
        width: 300px;
        margin: 0 auto;
    }

}

@media all and (max-width: 1081px){

    #header::after,
    #header::before
    {
        display: none;
    }


    .ht_right > div.util_zoom{
        display: none;
    }

    #nav{
        display: none;
    }

    .header_bot{
        height: 78px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .new_kr a img{
        width: 96px;
    }

    .main_notice_list{
        width: calc(100% - 395px);
    }

    .notice_tab_btn ul{
        gap: 0 5px;
    }

    .main_minister{
        width: 370px;
    }
    
    .main_search{
        width: 205px;
    }

    #main_info{
        padding-left: 0;
    }

    .gov_banner_slide_box{
        width: calc(100% - 60px);
        margin: 0 auto 70px auto;
        padding: 70px 0;
        background: url('../img/bg_notice_banner.png') center no-repeat;
        background-size: cover;
    }

    .gov_banner_slide{
        width: 340px;
        margin: 0 auto;
    }

    .gov_banner_control{
        width: 340px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
    }

    .main_info_slide_box{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
    }

    .main_info_slide_control{
        margin-right: 25px;
    }

    .main_site_link{
        gap: 30px 0;
    }

    .msl_box{
        width: 100%;
    }

    .msl_desc{
        justify-content: flex-start;
        padding: 0 40px;
    }

    .foreign_websites > div{
        width: 100%;
    }

    .frws_desc{
        justify-content: center;
        margin-bottom: 25px;
    }

    .frws_link_box{
        flex-direction: column;
    }

    .ftr_inner{
        justify-content: flex-start;
    }

    .ft_desc{
        order: 2;
    }

    .ft_rel_site{
        order: 1;
        width: 100%;
        margin-bottom: 30px;
    }

}

@media all and (max-width: 900px){

    #main_notice_wide_banner{
        margin-bottom: 100px;
    }

    #main_notice::before{
        top: -65px;
        width: 45vw;
    }

    .main_notice_list{
        width: 100%;
        margin-bottom: 70px;
    }

    .main_notice .main_tit{
        justify-content: center;
        padding-bottom: 50px;
    }

    .nt_direct_link{
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        order: 2;
    }

    .notice_tab.type2{
        flex-wrap: wrap;
    }

    .notice_tab_btn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .notice_tab_btn ul{
        gap: 0 10px;
    }

    .notice_tab_btn ul li button{
        width: 152px;
        height: 48px;
    }

    .notice_tab_btn ul li button span{
        font-size: 16px;
    }

    .notice_tab{
        top: 175px;
    }

    .notice_tab ul li{
        margin-bottom: 35px;
        padding-bottom: 12px;
        border-bottom: 1px solid #f3f3f3;
    }

    .notice_tab.type2 ul li{
        margin-bottom: 35px;
    }

    .notice_tab ul li:last-child{
        border-bottom: 0px;
    }

    .nt_cate a{
        height: 50px;
        border: 0px;
    }

    .nt_cate_deco{
        width: 20px;
        height: 20px;
        right: -10px;
        top: -10px;
    }

    .nt_txt a{
        flex-wrap: wrap;
        gap: 12px 0;
    }

    .nt_txt a p{
        font-size: 20px;
        width: 100%;
        margin-right: 0px;
    }

    .nt_txt a span{
        font-size: 15px;
    }

    .main_minister{
        width: 100%;
        justify-content: center;
    }

    .minister_top{
        width: max-content;
        flex-direction: row;
    }

    .minister_top h3{
        text-align: left;
        font-size: 32px;
        font-weight: 600;
    }

    .minister_top h3 strong{
        font-size: 36px;
    }

    .minister_portrait img{
        width: 180px;
    }

    .minister_link{
        width: 100%;
        justify-content: center;
    }

    .minister_link ul{
        flex-direction: row;
        width: max-content;
        gap: 0 10px;
    }

    .minister_link ul li{
        width: 105px;
    }

    .main_commu_slide .swiper-slide.active{
        opacity: 0.3;
    }
}

@media all and (max-width: 737px){

    .container{
        padding: 0;
    }
    
    #header .container{
        padding: 0 15px;
    }

    #header{
        height: 100px;
    }


    .ht_box{
        padding: 12px 0;
    }

    .certificate span{
        font-size: 11px;
        font-weight: 600;
    }

    .ht_right{
        display: none !important;
    }

    .header_bot{
        height: 60px;
    }

    .logo a img{
        height: 30px;
    }

    .new_kr a img{
        width: auto;
        height: 30px;
    }

    .main_search{
        display: none;
    }

    .mob_util{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 20px;
    }

    .mob_util_btn button{
        width: 24px;
        height: 32px;
    }

    .mob_menu_open button{
        background: url('../img/btn_sitemap_open.png') center no-repeat;
    }


    .mob_search_open button{
        background: url('../img/btn_head_search.png') center no-repeat;
        background-size: 20px auto;
    }

    .mob_search_box.active .mob_search_open button{
        background: url('../img/btn_search_close_m.png') center no-repeat;
        background-size: 20px auto;
    }

    .mob_search{
        display: none;
        position: fixed;
        left: 0;
        top: 100px;
        width: 100%;
        background: #fff;
        box-sizing: border-box;
        padding: 25px 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }
    
    .mob_search_box.active .mob_search{
        display: block;
    }

    .mob_search legend{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .mob_search legend span:first-child{
        font-size: 20px;
        font-weight: 600;
        color: #999;
        letter-spacing: -1px;
    }

    .mob_search_input{
        position: relative;
        width: 100%;
        padding-bottom: 8px;
        border-bottom: 2px solid #000;
    }

    .mob_search_input label{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .mob_search_input input{
        width: 100%;
        border: 0;
        padding: 0 50px 0 15px;
        line-height: 22px;
        font-size: 14px;
        color: #000;
        background: #fff;
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    .mob_search_input input::placeholder{
        font-size: 14px;
        font-weight: 600;
        color: #000;
    }

    .mob_search_input button{
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 22px;
        background: url('../img/btn_head_sch.png') center no-repeat;
        background-size: auto 22px;
    }
    
    #main_notice .container,
    #main_communication .container{
        max-width: 400px;
        margin: 0 auto;
    }

    .content_box{
        margin-top: 100px;
    }

    .main_slide{
        padding: 15px 15px 0 15px;
    }

    .all_menu_container{
        background: rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        padding-left: 25px;
    }

    .all_menu_box{
        padding: 0;
        background: linear-gradient(to right, #F0F3F8 0 180px, #fff 180px 100%);
        transform: translateX(100%);
        transition: all .4s ease;
        transition-delay: 0.1s;
    }

    .all_menu_container.active .all_menu_box{
        transform: translateX(0);
    }

    .all_menu_top{
        background: url('../img/bg_gnb_m.jpg.png') center no-repeat;
        background-size: cover;
    }

    .all_menu_box .container{
        padding: 0 !important;
    }

    .all_menu_control{
        position: static;
        justify-content: space-between;
        height: 45px;
    }

    .all_menu_close button{
        width: 18px;
        height: 18px;
        background: url('../img/btn_sitemap_close_m.png') center no-repeat;
        background-size: cover;
    }
    
    .all_menu_control,
    .all_menu_top_link{
        box-sizing: border-box;
        padding: 0 20px;
    }

    .all_menu_top_link{
        height: 45px;
        justify-content: flex-start;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        margin-bottom: 0px;
    }

    .amt_gov{
        border: none;
    }

    .amt_gov ul{
        padding: 0;
    }

    .amt_gov ul li:first-child{
        padding-left: 0px;
    }

    .amt_gov ul li a{
        font-size: 12px;
    }

    .amt_sns{
        position: absolute;
        display: none;
    }

    .all_menu_list{
        position: relative;
        box-sizing: border-box;
        padding-left: 180px;
    }

    #all_nav{
        background: #fff;
    }

    .am_floor1 > li{
        width: 100%;
        margin-bottom: 0px;
    }

    .am_floor1 > li.active{
        display: flex;
    }

    .aml_tit{
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 0 0 20px;
        border-top: 0px;
        width: 190px;
        z-index: 2;
    }

    .am_floor1 > li:nth-child(2) .aml_tit{
        top: 46px;
    }

    .am_floor1 > li:nth-child(3) .aml_tit{
        top: calc(46px * 2);
    }

    .am_floor1 > li:nth-child(4) .aml_tit{
        top: calc(46px * 3);
    }

    .am_floor1 > li:nth-child(5) .aml_tit{
        top: calc(46px * 4);
    }

    .am_floor1 > li:nth-child(6) .aml_tit{
        top: calc(46px * 5);
    }

    .am_floor1 > li:nth-child(7) .aml_tit{
        top: calc(46px * 6);
    }

    .am_floor1 > li:nth-child(8) .aml_tit{
        top: calc(46px * 7);
    }

    .aml_tit a{
        display: block;
        padding: 15px 13px 15px 0px;
        border-bottom-right-radius: 10px;
    }

    .am_floor1 > li.active .aml_tit a{
        background: linear-gradient(135deg, #ae814a 0%, #c6975c 100%);
        padding: 15px 13px 15px 15px;
        color: #fff;
    }

    .aml_tit strong{
        font-size: 15px;
        color: #666;
    }

    .am_floor1 > li.active .aml_tit strong{
        color: #fff;
    }

    .am_floor2{
        display: none;
        width: calc(100% - 180px);
        position: absolute;
        left: 180px;
        top: 0;
        background: transparent;
        border-top: 0px;
        padding: 0 15px 0 30px;
        box-sizing: border-box;
        gap: 0;

    }

    .am_floor1 > li.active .am_floor2{
        display: flex;
    }
    .amf2_tit{
        position: relative;
    }

    .deco .amf2_tit::after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background: var(--color4-);
        opacity: 0;
        transform-origin: center;
    }

    .am_floor2 > li.active.deco .amf2_tit::after{
        transform: translateY(-50%) scaleY(0);
        opacity: 1;
        transition: all .5s ease;
    }

    .amf2_tit a{
        position: relative;
        width: 100%;
        color: #666;
        letter-spacing: -0.5px;
        font-size: 15px;
        padding: 15px 0;
    }

    .deco .amf2_tit a::before,
    .deco .amf2_tit a::after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 14px;
        height: 1px;
        background: #5e5f62;
    }

    .deco .amf2_tit a::before{
        transform: translateY(-50%);
    }
    
    .am_floor2 > li.active.deco .amf2_tit a::before{
        background-color: var(--color4-);
        transition: background-color 0.3s 0.2s;
    }

    .deco .amf2_tit a::after{
        transform: translateY(-50%) rotate(90deg);
    }

    .am_floor2 > li.active.deco .amf2_tit a::after{
        display: none;
    }


    .am_floor2 > li{
        border-bottom: 1px solid #ddd;
    }

    .am_floor2 > li:last-child{
        border-bottom: 0px;
    }

    .am_floor2 > li.deco.active .am_floor3{
        display: flex;
    }

    .am_floor3{
        gap: 8px 0;
        margin-top: 0px;
        box-sizing: border-box;
        padding: 20px 15px;
        background: #f6f8f9;
        display: none;
    }

    .am_floor3 li{
        width: 100%;
    }

    .am_floor3 li a{
        font-size: 14px;
        color: #666 !important;
        background: none !important;
        padding-right: 0px !important;
    }

    .am_floor3 li a::before{
        background: var(--color4-) !important;
        width: 4px;
        height: 1px;
    }

    .mss_desc{
        padding: 15px 20px;
        height: 110px;
        width: calc(100% - 150px);
        bottom: -55.5px;
    }

    .mss_desc h2{
        font-size: 15px;
    }

    #main_notice_wide_banner .container{
        padding: 0 30px;
    }

    .main_tit h2{
        font-size: 32px;
    }

    .notice_tab_btn > ul{
        width: 100%;
        gap: 0px;
    }

    .notice_tab_btn > ul > li{
        width: 25%;
    }

    .notice_tab_btn ul > li button{
        width: 100%;
        border-right: 0px;
        height: 38px;
    }

    .notice_tab_btn ul > li:last-child button{
        border-right: 1px solid #000;
    }

    .notice_tab_btn ul li button span{
        font-size: 14px;
    }

    .nt_cate a{
        width: 45px;
        height: 35px;
    }

    .nt_txt{
        max-width: calc(100% - 45px);
    }

    .nt_txt a p{
        font-size: 14px;
    }

    .nt_txt a span{
        font-size: 13px;
    }


    .main_notice .main_tit{
        padding-bottom: 25px;
    }

    .notice_tab{
        top: 130px;
    }

    .notice_tab.type1 ul li:last-child{
        margin-bottom: 0px;
    }

    .nt_direct_link a{
        font-size: 14px;
    }

    .main_notice_list{
        margin-bottom: 50px;
    }

    #main_notice{
        margin-bottom: 0px;
    }

    .main_minister{
        gap: 0 4vw;
        flex-wrap: nowrap;
        padding-top: 60px;
    }

    .minister_tit{
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
        width: 120px;
        height: 40px;
    }

    .minister_tit h2{
        font-size: 14px;
        background-size: 14px;
    }

    .minister_top{
        flex-direction: column;
        margin-bottom: 0px;
    }

    .minister_top h3{
        font-size: 16px;
        text-align: center;
    }

    .minister_top h3 strong{
        font-size: 18px;
    }

    .minister_portrait{
        max-width: 145px;
    }

    .minister_link{
        width: max-content;
    }

    .minister_link ul{
        flex-direction: column;
        gap: 5px 0;
    }

    .gov_banner_slide{
        max-width: 340px;
        width: 100%;
    }

    .gov_banner_slide_box{
        background: none;
        padding: 40px 0;
        margin-bottom: 0px;
    }

    .gov_banner_control{
        width: 100%;
        bottom: 40px;
    }

    .main_info_slide_box{
        width: 400px;
        margin: 0 auto;
        padding: 0px;
        overflow-y: hidden;
    }

    .main_info_slide .swiper-slide{
        width: 150px !important;
        height: 170px;
        margin-right: 15px;
    }

    .iss_cont{
        padding: 25px 20px;
    }

    .iss_cont .cate{
        font-size: 11px;
    }

    .iss_tit{
        height: 70px;
    }

    .iss_tit strong{
        font-size: 16px;
    }

    .go_link span{
        font-size: 13px;
    }

    .main_info_slide_control{
        gap: 10px 0;
        margin-right: 15px;
    }

    .mis_btn button{
        width: 50px;
        height: 50px;
    }

    .mis_btn button::before{
        display: none;
    }

    .main_sns .main_tit{
        justify-content: center;
        padding-bottom: 20px;
    }

    .main_sns_link{
        margin-top: 20px;
    }

    .main_sns_link ul li a img{
        width: 40px;
    }

    #main_info{
        margin-bottom: 60px;
    }

    .main_commu_slide{
        padding: 15px 15px;
    }

    .main_commu_slide .swiper-slide{
        width: 150px;
        height: 220px;
        border-radius: 8px;
    }

    .mcss_inner{
        padding: 0;
    }

    .mcss_img{
        height: 150px;
    }

    .mcss_txt,
    .mcss_bot{
        box-sizing: border-box;
        padding: 0 10px;
    }

    .mcss_txt{
        margin-top: 5px;
    }

    .mcss_txt p{
        font-size: 13px;
    }

    .mcss_cate{
        height: 16px;
        background-size: 16px !important;
        padding-left: 22px;
        margin-bottom: 6px;
    }

    .mcss_cate span{
        font-size: 11px;
    }

    .mcs_control{
        position: static;
        justify-content: center;
        margin-top: 30px;
        gap: 0 10px;
    }

    .msc_btn{
        width: 32px;
        height: 32px;
    }

    .koreaz_tit{
        display: none;
    }

    .koreaz_top{
        width: 100%;
    }

    .krz_img{
        width: 105px;
    }

    .krz_video_link{
        width: 100%;
    }

    .krz_video_link a{
        max-width: 300px;
        width: 100%;
    }

    .msl_box > div{
        width: 100%;
    }

    .msl_box{
        height: auto;
    }

    .msl_box > div{
        height: 60px;
        justify-content: center;
    }

    .msl_desc{
        flex-direction: column;
    }

    .msl_desc strong{
        font-size: 20px;
        margin-right: 0px;
    }

    .msl_desc span{
        font-size: 12px;
    }
    
    .fr_num{
        background-size: auto 36px;
        padding-left: 35px;
    }

    .fr_num strong{
        font-size: 36px;
    }

    .frws_desc h2{
        font-size: 24px;
    }

    .frws_link_box .frws_floor1 > li{
        width: 300px;
    }

    .frws_select button{
        height: 55px;
        gap: 4px 0;
        padding: 0 12px;
        background-position: right 12px center;
    }

    .frws_select button span{
        font-size: 11px;
    }

    .frws_select button strong{
        font-size: 15px;
    }

    .frws_floor2{
        max-height: 200px;
        padding: 10px 13px;
    }

    .frws_floor2 li button{
        font-size: 14px;
    }

    .frws_link a{
        font-size: 14px;
        padding: 8px 15px;
    }

    .bot_banner_slide_box{
        box-sizing: border-box;
        padding: 0 15px;
    }

    .bbs_control{
        align-items: center;
        flex-direction: column;
        gap: 20px 0;
    }

    .bbs_control a{
        position: static;
        transform: translateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 35px;
        padding-right: 20px;
        border: 1px solid #ddd;
        background: #fff url('../img/btn_fbn_more.png') right 17px center no-repeat;
        box-sizing: border-box;
    }


    .footer_top{
        margin-bottom: 22px;
    }

    .ft_rel_site{
        margin-bottom: 22px;
    }

    .frs_floor1{
        gap: 0px;
        justify-content: space-between;
    }

    .frs_floor1 > li:first-child{
        width: calc(100% - 205px);
    }

    .frs_floor1 > li:last-child{
        width: 190px;
    }

    .frs_btn button{
        padding: 0 12px;
        font-size: 14px;
    }

    .frs_btn button::after, .frs_btn button::before{
        right: 12px;
    }

    .frs_floor2 li a{
        font-size: 14px;
    }

    .ft_desc{
        padding-left: 15px;
    }

    .footer_bot{
        box-sizing: border-box;
        padding: 0 15px;
    }
    
    .ftr_logo{
        margin-right: 30px;
    }

    .ftr_logo img{
        height: 36px;
    }

    .ft_desc ul li a{
        font-size: 13px;
    }
    
    .ftb_address_list li{
        font-size: 12px;
        margin-bottom: 8px;
    }

    .copyright{
        font-size: 12px;
    }

}