@media all and (max-width: 1480px){
    .container{
        box-sizing: border-box;
    }

    #header .container{
        width: 100%;
        padding: 0 30px;
    }

    .logo{
        margin-right: 15px;
    }
}

@media all and (max-width: 1380px){
    .container{
        width: 100%;
        padding: 0 30px;
    }

    .main_minister{
        padding: 20px 8px;
    }

}

@media all and (max-width: 1300px){

    .new_kr a img{
        width: 6vw;
    }

    .main_search{
        width: 12vw;
    }

    #main{
        margin-bottom: 60px;
    }

    .main > strong{
        display: none;
    }

    .main_slide{
        box-sizing: border-box;
        padding: 50px 40px 0px 40px;
    }
    
    .main_slide .swiper-slide{
        width: 100%;
        max-width: 100%;
        padding: 0 0 160px 0;
    }

    .mss_desc{
        width: 570px;
        left: 50%;
        transform: translateX(-50%);
        height: 155px;
        bottom: -77.5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .main_slide_control{
        bottom: 0;
        margin-left: 0;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    }

    #main_notice::before{
        top: 52px;
        height: 250px;
    }

    .main_tit{
        padding-bottom: 35px;
    }

    .notice_tab_btn{
        width: 100%;
        padding-top: 30px;
    }

    .notice_tab{
        top: 145px;
    }

    .main_notice_list{
        width: calc(100% - 505px);
        margin: 0;
    }

    .nt_txt{
        width: 100%;
        max-width: calc(100% - 80px);
    }

    .nt_txt a{
        width: 100%;
        justify-content: space-between;
    }

    .nt_txt a p{
        font-size: 16px;
    }

    .main_minister{
        display: flex;
        flex-wrap: wrap;
        width: 465px;
    }

    .minister_top{
        flex-direction: column; 
        width: calc(100% - 135px);
    }

    .minister_top h3{
        font-size: 22px;
        text-align: center;
    }

    .minister_top h3 strong{
        font-size: 28px;
    }

    .minister_portrait img{
        width: 160px;
    }

    .minister_link{
        width: 135px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .minister_link ul{
        width: 105px;
        flex-direction: column;
        gap: 5px 0;
    }

    .minister_link ul li{
        width: 100%;
    }

    .minister_link ul li a{
        font-size: 14px;
    }

    .minister_link ul li:first-child a{
        font-size: 14px;
    }

    #main_info{
        padding-left: 30px;
    }

    .main_info_slide .swiper-slide.active{
        opacity: 0.2 !important;
    }

    .main_info_slide_control{
        right: 0;
        margin-right: 0;
    }

    .main_commu_slide .swiper-slide{
        width: 265px;
    }
}

@media all and (max-width: 1200px){

    .new_kr a img{
        width: 7.3vw;
    }

    #nav .floor1 > li > a{
        font-size: 14px;
        padding: 31px 18px;
    }

    #main_notice::before{
        width: 35vw;
    }

    .main_sns{
        width: 100%;
        margin-bottom: 40px;
    }

    .main_commu_slide .swiper-slide.active{
    }

    .main_koreaz{
        width: 100%;
    }

    .koreaz_box{
        display: flex;
        flex-wrap: wrap;
    }

    .koreaz_top{
        width: 50%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }

    .krz_top_img_box{
        justify-content: center;
        gap: 0 20px;
    }

    .krz_img{
        width: 140px;
    }

    .krz_top_link ul{
        justify-content: center;
        gap: 0 10px;
    }

    .krz_top_link ul li{
        width: 105px;
    }

    .krz_video_link{
        width: 50%;
    }

    .krz_video_link a{
        width: 300px;
        margin: 0 auto;
    }

}

@media all and (max-width: 1080px){

    #header::after,
    #header::before
    {
        display: none;
    }


    .ht_right > div.util_zoom{
        display: none;
    }

    #nav{
        display: none;
    }

    .header_bot{
        height: 78px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .new_kr a img{
        width: 96px;
    }

    .main_notice_list{
        width: calc(100% - 435px);
    }

    .main_minister{
        width: 390px;
    }
    
    .main_search{
        width: 205px;
    }

    #main_info{
        padding-left: 0;
    }

    .gov_banner_slide_box{
        width: calc(100% - 60px);
        margin: 0 auto 70px auto;
        padding: 70px 0;
        background: url('../img/bg_notice_banner.png') center no-repeat;
        background-size: cover;
    }

    .gov_banner_slide{
        width: 340px;
        margin: 0 auto;
    }

    .gov_banner_control{
        width: 340px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
    }

    .main_info_slide_box{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
    }

    .main_info_slide_control{
        margin-right: 25px;
    }

    .main_site_link{
        gap: 30px 0;
    }

    .msl_box{
        width: 100%;
    }

    .msl_desc{
        justify-content: flex-start;
        padding: 0 40px;
    }

    .foreign_websites > div{
        width: 100%;
    }

    .frws_desc{
        justify-content: center;
        margin-bottom: 25px;
    }

    .frws_link_box{
        flex-direction: column;
    }

    .ftr_inner{
        justify-content: flex-start;
    }

    .ft_desc{
        order: 2;
    }

    .ft_rel_site{
        order: 1;
        width: 100%;
        margin-bottom: 30px;
    }

}

@media all and (max-width: 900px){
    .main_notice_list{
        width: 100%;
        margin-bottom: 50px;
    }

    .main_tit{
        justify-content: center;
    }

    .notice_tab_btn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .notice_tab_btn ul li button{
        width: 152px;
        height: 48px;
    }

    .notice_tab_btn ul li button span{
        font-size: 16px;
    }

    .notice_tab{
        top: 175px;
    }

    .main_minister{
        width: 100%;
    }
}

@media all and (max-width: 736px){

    .container{
        padding: 0 15px !important;
    }



    #header{
        height: 100px;
    }

    .ht_box{
        padding: 12px 0;
    }

    .certificate span{
        font-size: 11px;
        font-weight: 600;
    }

    .ht_right{
        display: none !important;
    }

    .header_bot{
        height: 60px;
    }

    .logo a img{
        height: 30px;
    }

    .new_kr a img{
        width: auto;
        height: 30px;
    }

    .main_search{
        display: none;
    }

    .mob_util{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 20px;
    }

    .mob_util_btn button{
        width: 24px;
        height: 32px;
    }

    .mob_menu_open button{
        background: url('../img/btn_sitemap_open.png') center no-repeat;
    }

    .mob_search_open button{
        background: url('../img/btn_head_search.png') center no-repeat;
    }
    
    #main_notice .container,
    #main_communication .container{
        width: 400px;
        margin: 0 auto;
    }

    .content_box{
        margin-top: 100px;
    }

    .main_slide{
        padding: 15px 15px 0 15px;
    }

    .all_menu_container{
        background: rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        padding-left: 25px;
    }

    .all_menu_box{
        padding: 0;
        background: linear-gradient(to right, #F0F3F8 0 180px, #fff 180px 100%);
        transform: translateX(100%);
        transition: all .4s ease;
        transition-delay: 0.1s;
    }

    .all_menu_container.active .all_menu_box{
        transform: translateX(0);
    }

    .all_menu_top{
        background: url('../img/bg_gnb_m.jpg.png') center no-repeat;
        background-size: cover;
    }

    .all_menu_box .container{
        padding: 0 !important;
    }

    .all_menu_control{
        position: static;
        justify-content: space-between;
        height: 45px;
    }

    .all_menu_close button{
        width: 18px;
        height: 18px;
        background: url('../img/btn_sitemap_close_m.png') center no-repeat;
        background-size: cover;
    }
    
    .all_menu_control,
    .all_menu_top_link{
        box-sizing: border-box;
        padding: 0 20px;
    }

    .all_menu_top_link{
        height: 45px;
        justify-content: flex-start;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        margin-bottom: 0px;
    }

    .amt_gov{
        border: none;
    }

    .amt_gov ul{
        padding: 0;
    }

    .amt_gov ul li:first-child{
        padding-left: 0px;
    }

    .amt_gov ul li a{
        font-size: 12px;
    }

    .amt_sns{
        position: absolute;
        display: none;
    }

    .all_menu_list{
        position: relative;
        box-sizing: border-box;
        padding-left: 180px;
    }

    #all_nav{
        background: #fff;
    }

    .am_floor1 > li{
        width: 100%;
        margin-bottom: 0px;
    }

    .am_floor1 > li.active{
        display: flex;
    }

    .aml_tit{
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 0 0 20px;
        border-top: 0px;
        width: 190px;
        z-index: 2;
    }

    .am_floor1 > li:nth-child(2) .aml_tit{
        top: 46px;
    }

    .am_floor1 > li:nth-child(3) .aml_tit{
        top: calc(46px * 2);
    }

    .am_floor1 > li:nth-child(4) .aml_tit{
        top: calc(46px * 3);
    }

    .am_floor1 > li:nth-child(5) .aml_tit{
        top: calc(46px * 4);
    }

    .am_floor1 > li:nth-child(6) .aml_tit{
        top: calc(46px * 5);
    }

    .am_floor1 > li:nth-child(7) .aml_tit{
        top: calc(46px * 6);
    }

    .am_floor1 > li:nth-child(8) .aml_tit{
        top: calc(46px * 7);
    }

    .aml_tit a{
        display: block;
        padding: 15px 13px 15px 0px;
        border-bottom-right-radius: 10px;
    }

    .am_floor1 > li.active .aml_tit a{
        background: linear-gradient(135deg, #ae814a 0%, #c6975c 100%);
        padding: 15px 13px 15px 15px;
        color: #fff;
    }

    .aml_tit strong{
        font-size: 15px;
        color: #666;
    }

    .am_floor1 > li.active .aml_tit strong{
        color: #fff;
    }

    .am_floor2{
        display: none;
        width: calc(100% - 180px);
        position: absolute;
        left: 180px;
        top: 0;
        background: transparent;
        border-top: 0px;
        padding: 0 15px 0 30px;
        box-sizing: border-box;
        gap: 0;

    }

    .am_floor1 > li.active .am_floor2{
        display: flex;
    }
    .amf2_tit{
        position: relative;
    }

    .deco .amf2_tit::after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background: var(--color4-);
        opacity: 0;
        transform-origin: center;
    }

    .am_floor2 > li.active.deco .amf2_tit::after{
        transform: translateY(-50%) scaleY(0);
        opacity: 1;
        transition: all .5s ease;
    }

    .amf2_tit a{
        position: relative;
        width: 100%;
        color: #666;
        letter-spacing: -0.5px;
        font-size: 15px;
        padding: 15px 0;
    }

    .deco .amf2_tit a::before,
    .deco .amf2_tit a::after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 14px;
        height: 1px;
        background: #5e5f62;
    }

    .deco .amf2_tit a::before{
        transform: translateY(-50%);
    }
    
    .am_floor2 > li.active.deco .amf2_tit a::before{
        background-color: var(--color4-);
        transition: background-color 0.3s 0.2s;
    }

    .deco .amf2_tit a::after{
        transform: translateY(-50%) rotate(90deg);
    }

    .am_floor2 > li.active.deco .amf2_tit a::after{
        display: none;
    }


    .am_floor2 > li{
        border-bottom: 1px solid #ddd;
    }

    .am_floor2 > li:last-child{
        border-bottom: 0px;
    }

    .am_floor2 > li.deco.active .am_floor3{
        display: flex;
    }

    .am_floor3{
        gap: 8px 0;
        margin-top: 0px;
        box-sizing: border-box;
        padding: 20px 15px;
        background: #f6f8f9;
        display: none;
    }

    .am_floor3 li{
        width: 100%;
    }

    .am_floor3 li a{
        font-size: 14px;
        color: #666 !important;
        background: none !important;
        padding-right: 0px !important;
    }

    .am_floor3 li a::before{
        background: var(--color4-) !important;
        width: 4px;
        height: 1px;
    }
}