html{
}

body{
    overflow-x: hidden;
    font-family: "Noto Sans KR", serif !important;
}

body.fixed{
    overflow: hidden;
}

#wrap{
    width: 100%;
}

.container{
    width: 1355px;
    margin: 0 auto;
}

#header .container{
    width: 1420px;
}

:root{
    --color1-: #f5f5f5;
    --color2-: #877456;
    --color3-: #3e3e3e;
    --color4-: #0c3975;
    --color5-: #eeeeee;
}

section{
    width: 100%;
}

.section_inner{
    width: 100%;
}

/* tab_to_move */

.tab_to_move a{
    position: absolute;
    left: 0;
    top: -200px;
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
}

.tab_to_move a:active,
.tab_to_move a:focus{
    top: 0px;
    outline: 1px solid #000;
    border: 1px solid #fff;
}

/* header */

#header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    height: 140px;
    z-index: 100;
}

#header::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #1a3272 0px, #11265f 300px, #fff 300px 100%);
    pointer-events: none;
    user-select: none;
}

#header::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 140px;
    background: #fff;
    pointer-events: none;
    user-select: none;
}

#header.nav_active{
    overflow: visible;
}

.header{
    position: relative;
    width: 100%;
    z-index: 10;
    background: #fff;
}

.header > div{
    width: 100%;
}

.ht_box, 
.hb_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ht_box{
    padding: 20px 0;
}

.certificate{
    box-sizing: border-box;
    padding-left: 50px;
    background: url('../img/eg_logo.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.certificate span{
    font-size: 14px;
    letter-spacing: -1px;
}

.ht_right{
    display: flex;
    flex-wrap: wrap;
}

.ht_right > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.util_zoom *{
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 500;
}

.util_zoom > span{
    display: inline-block;
    margin-right: 15px;
}

.util_zoom ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;
}

.util_zoom ul li button{
    position: relative;
    box-sizing: border-box;
    border: 1px solid #00000060;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.util_zoom ul li button:focus,
.util_zoom ul li button:hover{
    background: #000;
}

.util_zoom ul li.zoom_plus button,
.util_zoom ul li.zoom_minus button{
    width: 24px;
    height: 24px;
}

.util_zoom ul li.zoom_return button{
    padding: 0 7px;
    height: 24px;
}

.util_zoom ul li.zoom_control button::before,
.util_zoom ul li.zoom_control button::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    border-top: 2px solid #000;
    transition: all .2s ease;
}

.util_zoom ul li.zoom_control button::before{
    transform: translate(-50%, -50%);
}

.util_zoom ul li.zoom_control button::after{
    transform: translate(-50%, -50%) rotate(90deg);
}

.util_zoom ul li.zoom_minus button::after{
    display: none;
}

.util_zoom ul li.zoom_control button:focus::before,
.util_zoom ul li.zoom_control button:focus::after,
.util_zoom ul li.zoom_control button:hover::before,
.util_zoom ul li.zoom_control button:hover::after{
    border-color: #fff;
}

.util_zoom ul li.zoom_return button{
    line-height: 24px;
    color: #000;
}

.util_zoom ul li.zoom_return button:focus,
.util_zoom ul li.zoom_return button:hover{
    color: #fff;
}

.header_link{
    position: relative;
    margin-left: 35px;
    padding-right: 11px;
}

.header_link::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 18px;
    border-right: 1px solid #000;
    background: #000;
}

.header_link ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 6px;
}

.header_link ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_link ul li a{
    position: relative;
    display: inline-block;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 500;
    padding: 6px 3px;
    color: #000;
}

.header_link ul li a::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 1px;
    background: #000;
    transition: all .5s ease;
    transform-origin: center;
}

.header_link ul li a:focus::after,
.header_link ul li a:hover::after{
    transform: translateX(-50%) scaleX(1);
}

.header_link ul li.national_symbol a{
    padding: 6px 3px 6px 26px;
    background: url('../img/img_nation.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 16px;
}

.all_menu{
	display: flex;
	align-items: center;
	justify-content: center;
}

.all_menu_open{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 13px;
}

.all_menu_open button{
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.5px;
    padding: 6px 0;
}

.all_menu_container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: url('../img/bg_sitemap.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    overflow: hidden;
}

.all_menu_container.active{
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease;
}

.all_menu_box{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 150px 0 120px 0;
    overflow-y: auto;
}

.all_menu_control{
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lang_change{
    margin-right: 30px;
}

.lang_change a{
    display: inline-block;
    line-height: 22px;
    padding-right: 25px;
    background: url('../img/icon_sitemap_lang2.png') no-repeat;
    background-size: 16px;
    background-position: right center;
    font-size: 12.5px;
    letter-spacing: -0.5px;
    color: #fff;
}

.all_menu_close button{
    width: 40px;
    height: 40px;
    background: url('../img/btn_sitemap_close2.png') center no-repeat;
}

.all_menu_top_link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}

.amt_gov{
    border: 1px solid #6a82b1;
    border-radius: 999px;
    overflow: hidden;
    margin-right: 35px;
}

.amt_gov ul{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 24px;
}

.amt_gov ul li{
    position: relative;
    padding: 0 12px;
}

.amt_gov ul li::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: #6a82b1;
}

.amt_gov ul li:last-child::after{
    display: none;
}

.amt_gov ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 15px;
    line-height: 17px;
}

.amt_sns ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
}
.all_menu_list{
    width: 100%;
}

#all_nav{
    width: 100%;
}

.am_floor1{
    width: 100%;
}

.am_floor1 > li{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.am_floor1 > li:last-child{
    margin-bottom: 0px;
}

.aml_tit{
    width: 210px;
    box-sizing: border-box;
    padding: 30px 0;
    border-top: 3px solid #fff;
}

.aml_tit strong{
    color: #fff;
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 500;
}

.am_floor2{
    width: calc(100% - 210px);
    box-sizing: border-box;
    border-top: 1px solid #234c78;
    padding: 40px 45px;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    gap: 45px 0;
}

.am_floor2 > li{
    width: 100%;
}

.amf2_tit{
    width: 100%;
}

.amf2_tit a{
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -1px;
}

.am_floor3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    gap: 15px 45px;
}

.am_floor3 li a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #859fbc;
    padding-left: 15px;
    letter-spacing: -0.7px;
    font-weight: 500;
    line-height: 1.2;
}

.am_floor3 li a::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 6px;
    height: 2px;
    background: #859fbc;
}

.am_floor3 li.outer_link a{
    color:#83e0fe;
    padding-right: 20px;
    background: url('../img/icon_sitemap_link.png') no-repeat;
    background-size: auto 11px;
    background-position: right center;
}

.am_floor3 li.outer_link a::before{
    background: #83e0fe;
}

.header_bot{
    position: relative;
    z-index: 99;
}

.nav_active .header_bot::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #d5d5d5;
}

.hb_left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    margin-right: 90px;
}

#nav .floor1{
    display: flex;
    flex-wrap: wrap;
}

#nav .floor1 > li > a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    letter-spacing: -1px;
    padding: 30px 18px;
}

#nav .floor1 > li > a::after{
    display: none;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% - 50px);
    height: 3px;
    background: #a47e4f;
}

#nav .floor1 > li.active > a{
    color: #a47e4f;
}

#nav .floor1 > li.active > a::after{
    display: block;
}

.mega_container{
    position: absolute;
    left: 0;
    top: 76px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    visibility: hidden;
    background: linear-gradient(to right, #1a3272 0px, #11265f 300px, #fff 300px 100%);
    background-position: left top;
    border-top: 1px solid #d5d5d5;
}

#nav .floor1 > li.active .mega_container{
    visibility: visible;
}

.mega_tit{
    width: 300px;
    box-sizing: border-box;
    padding: 35px 30px;
    text-align: center;
}

.mega_tit strong{
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    padding: 70px 0 25px 0;
    color: #fff;
    text-align: center;
}

.mega_tit strong::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 1px;
    background: #fff;
    opacity: 0.8;
}

#nav .floor2{
    width: calc(100% - 300px);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
}
/* 
.floor2::after{
    content: "";
    flex: auto;
} */

#nav .floor2 > li{
    width: 430px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

#nav .floor2 > li > a{
    display: block;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 20px 0;
    text-align: center;
    background: #f3f3f3;
    margin-bottom: 25px;
    color: #000;
}

#nav .floor3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 6px;
    box-sizing: border-box;
    padding: 0 8px;
}

#nav .floor3 li{
    position: relative;
    width: calc(50% - 8px);
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 15px;
}

#nav .floor3 li::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 0px;
    border-top: 1px solid #1a3272;
}

#nav .floor3 li a{
    position: relative;
    display: inline-block;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: #000;
    box-sizing: border-box;
    padding: 0 3px;
    line-height: 1.4;
}

#nav .floor3 li a:focus,
#nav .floor3 li a:hover{
    text-decoration: underline;
}

.main_search{
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0 40px 0 18px;
    width: 205px;
    height: 38px;
    border-radius: 999px;
}

.main_search form{
    width: 100%;
    height: 100%;
}

.main_search label{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
}

.main_search input{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.main_search button{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background: url('../img/btn_head_sch.png') center center no-repeat;
    background-size: 17px;
    z-index: 2;
}

.mob_util{
    display: none;
}

/* main */

.content_box{
    margin-top: 140px;
}

.main{
    position: relative;
}

.main > strong{
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    font-size: 340px;
    font-weight: 700;
    letter-spacing: 35px;
    color: #eee;
    width: max-content;
    text-align: center;
}

.main_slide_box{
    width: 100%;
}

.main_slide{
    width: 100%;
    padding: 50px 0 70px 0;
    overflow: hidden;
}

.main_slide .swiper-slide{
    max-width: 940px;
    padding: 0 140px;
}

.mss_box{
    position: relative;
    width: 100%;
    padding-top: 52.25%;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.2);
}

.mss_box a{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mss_img{
    width: 100%;
    height: 100%;
}

.mss_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mss_desc{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 38px;
    background: rgba(0, 0, 0, 0.8);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    transition: all .8s ease;
    opacity: 0;
}

.swiper-slide-active .mss_desc{
    opacity: 1;
    transition: all .8s ease;
} 

.mss_desc span{
    color: var(--color2-);
    font-weight: 800;
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
    letter-spacing: -1px;
}

.mss_desc h2{
    width: 100%;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main_slide_control{
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 470px;
    width: max-content;
}

.ms_btn{
    width: 50px;
    height: 50px;
    border-right: 1px solid #ddd;
}

.ms_btn:last-child{
    border-right: 0px;
}

.ms_btn a,
.ms_btn button{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    transition: all .3s ease;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.main_slide_link a{
    background-color: var(--color2-);
}

.ms_btn a:hover,
.ms_btn button:hover{
    background-color: #000;
}

.main_slide_prev button{
    background-image: url('../img/btn_mb_prev.png');
}

.main_slide_prev button:hover{
    background-image: url('../img/btn_mb_prev_on.png');
}

.main_slide_onOff button{
    background-image: url('../img/btn_mb_pause.png');
}

.main_slide_onOff.pause button{
    background-image: url('../img/btn_mb_play.png');
}

.main_slide_onOff button:hover{
    background-image: url('../img/btn_mb_pause_on.png');
}

.main_slide_onOff.pause:hover button{
    background-image: url('../img/btn_mb_play_on.png');
}

.main_slide_next button{
    background-image: url('../img/btn_mb_next.png');
}

.main_slide_next button:hover{
    background-image: url('../img/btn_mb_next_on.png');
}

.main_slide_link a{
    position: relative;
}

.main_slide_link a::before,
.main_slide_link a::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 13px;
    height: 2px;
    background: #fff;
    transition: all .3s ease;
}

.main_slide_link a::before{
    transform: translate(-50%, -50%);
}

.main_slide_link a::after{
    transform: translate(-50%, -50%) rotate(90deg);
}

/* main_notice_wide_banner */

#main_notice_wide_banner{
    margin-bottom: 70px;
}

.main_wide_banner{
    width: 100%;
    overflow: hidden;
}

.main_wide_banner_control{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

.wbs_pagination{
    width: max-content !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wbs_pagination .swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
    background: #95958e !important;
    opacity: 1 !important;
    border-radius: 999px !important;
    transition: all .5s ease;
}

.wbs_pagination .swiper-pagination-bullet-active{
    background: #000 !important;
    width: 35px !important;
}

.wbs_onOff{
    margin-left: 10px;
}

.wbs_onOff button{
    width: 15px;
    height: 15px;
}

.wbs_onOff.play button{
    background: url('../img/btn_sdbanner_pause.png');
    background-position: center;
    background-size: 8px;
    background-repeat: no-repeat;
}

.wbs_onOff.pause{
    background: url('../img/btn_sdbanner_play.png');
    background-position: center;
    background-size: 9px;
    background-repeat: no-repeat;
}

/* main_notice */

#main_notice{
    position: relative;
    margin-bottom: 120px;
}

#main_notice::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 278px;
    width: 510px;
    height: 415px;
    background: #f3f3f3;
}

.main_notice{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_notice_list{
    position: relative;
    width: calc(53.5% - 20px);
    margin: 15px 0;
}

.main_tit{
    width: 100%;
    padding-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main_tit h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.main_tit h2 span{
    color: var(--color2-);
}

.notice_tab_btn{
}

.notice_tab_btn ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
}

.notice_tab_btn ul li button{
    width: 80px;
    text-align: center;
    box-sizing: border-box;
    padding: 7px 0;
    border: 1px solid #000;
    color: #000;
    background: #fff;
}

.notice_tab_btn ul li.active button,
.notice_tab_btn ul li button:hover,
.notice_tab_btn ul li button:focus
{
    background: #000;
    color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.notice_tab_btn ul li button span{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.notice_tab{
    display: none;
    position: absolute;
    left: 0;
    top: 104px;
    width: 100%;
}

.notice_tab_btn ul li.active .notice_tab{
    display: block;
}

.notice_tab_box{
    width: 100%;
}

.notice_tab ul{
    width: 100%;
}

.notice_tab ul li{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.notice_tab.type2 ul li{
    margin-bottom: 43.5px;
}

.nt_direct_link{
    position: absolute;
    right: 0;
    top: -38px;
}

.nt_direct_link a{
    position: relative;
    display: inline-block;
    color: #000;
    letter-spacing: -1px;
    font-weight: 600;
    padding-right: 45px;
    background: url('../img/arrow_more1.png') no-repeat;
    background-position: right center;
    background-size: 34px auto;

}

.nt_direct_link a::before{
    display: block;
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    border-radius: 50%;
    z-index: -1;
}

.nt_cate{
    width: max-content;
}

.nt_cate a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    background: #f4f2ef;
    border: 1px solid var(--color2-);
    color: var(--color2-);
    font-size: 14px;
    font-weight: 700;
}

.nt_cate_deco{
    position: absolute;
    width: 24px;
    height: 24px;
    right: -12px;
    top: -12px;
    background: var(--color2-);
    transition: all .3s ease;
    box-sizing: border-box;
}

.nt_cate a:hover .nt_cate_deco{
    background: #fff;
    border: 1px solid var(--color2-);
}

.nt_cate_deco::before,
.nt_cate_deco::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 2px;
    background: #fff;
    transition: all .3s ease;
}

.nt_cate_deco::before{
    transform: translate(-50%, -50%);
}

.nt_cate_deco::after{
    transform: translate(-50%, -50%) rotate(-90deg);
}

.nt_cate a:hover .nt_cate_deco::before,
.nt_cate a:hover .nt_cate_deco::after{
    background: var(--color2-);
}

.nt_txt{
    max-width: calc(100% - 100px);
    padding-left: 20px;
    box-sizing: border-box;
}

.notice_tab.type2 .nt_txt{
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    justify-content: space-between;
}

.nt_txt a{
    max-width: 100%;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.7px;
    justify-content: space-between;
}

.notice_tab.type2 .nt_txt a{
    justify-content: space-between;
}

.nt_txt a p{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 20px;
    line-height: 1.2;
    letter-spacing: -0.7px;
}

.nt_txt a span{
    font-size: 14px;
    color: #777;
    font-weight: 400;
}

.main_minister{
    position: relative;
    width: calc(46.5% - 20px);
    border-radius: 25px;
    background: var(--color4-);
    box-sizing: border-box;
    padding: 20px 30px 25px 30px;
}

.minister_top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.minister_tit{
    position: absolute;
    left: 0;
    top: -27.5px;
    width: 170px;
    height: 55px;
    border-radius: 25px 0 25px 0;
    background: var(--color2-);
    display: flex;
    align-items: center;
    justify-content: center;
}

.minister_tit h2{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    letter-spacing: -1px;
    font-weight: 600;
    padding-left: 22px;
    background: url('../img/only_logo-white.png') left center no-repeat;
    background-size: 18px;
}

.minister_top h3{
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1.4;
    margin-top: 30px;
}

.minister_top h3 strong{
    font-size: 38px;
    font-weight: 800;
}

.minister_portrait img{
    width: 190px;
}

.minister_link{
    width: 100%;
}

.minister_link ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.minister_link ul li{
    width: calc(20% - 5px);
}

.minister_link ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: var(--color4-);
    background: #fff;
    font-weight: 600;
    letter-spacing: -0.5px;
    transition: all .3s ease;
}

.minister_link ul li:first-child a{
    background: var(--color2-);
    color: #fff;
    font-size: 16px;
}

.minister_link ul li a:hover,
.minister_link ul li a:focus{
    background: #005A9E;
    color: #fff;
}

/* main_info */

#main_info{
    position: relative;
    width: 100%;
    margin-bottom: 120px;
    box-sizing: border-box;
    padding-left: calc((100% - 1355px) / 2);
}

.main_info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gov_banner_slide_box{
    position: relative;
    width: 340px;
}

.gov_banner_slide{
    width: 100%;
    overflow: hidden;
}

.gov_banner_control{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
    background: #000;
    z-index: 2;
}

.gbc_btn_box{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.gbs_btn{
    width: 20px;
    height: 20px;
    background-position: center center;
    background-size: 8px !important;
    background-repeat: no-repeat;
}

.gbs_prev{
    background-image: url('../img/btn_imgbd_prev.png');
}

.gbs_onOff{
    margin: 0 4px;
}

.gbs_onOff.play{
    background-image: url('../img/btn_imgbd_pause.png');
}

.gbs_onOff.pause{
    background-image: url('../img/btn_imgbd_play.png');
}

.gbs_next{
    background-image: url('../img/btn_imgbd_next.png');
}

.gbc_pagination{
    width: max-content !important;
    letter-spacing: -1px;
    color: #fff !important;
}

.gbc_pagination .swiper-pagination-current{
    opacity: 1;
}

.gbc_pagination .swiper-pagination-total{
    opacity: 0.6;
}

.main_info_slide_box{
    width: calc(100% - 400px);
    box-sizing: border-box;
    overflow-x: hidden;
}

.main_info_slide{
    width: 100%;
    box-sizing: border-box;
}

.main_info_slide .swiper-wrapper{
}

.main_info_slide .swiper-slide{
    width: max-content !important;
    position: relative;
    will-change: opacity;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .8s ease;
    margin-right: 30px;
    opacity: 0.2;
}

.main_info_slide .swiper-slide.deactive{
}

.main_info_slide .swiper-slide.swiper-slide-active,
.main_info_slide .swiper-slide.swiper-slide-next,
.main_info_slide .swiper-slide.active{
    transition: all .8s ease;
    opacity: 1;
}

.main_info_slide .swiper-slide a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.iss_cont{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 70px 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    color: #000;
    transition: all .3s ease;
}

.main_info_slide .swiper-slide:not(.deactive):focus .iss_cont,
.main_info_slide .swiper-slide:not(.deactive):hover .iss_cont{
    background: transparent;
    color: #fff;
}

.iss_cont .cate{
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: 500;
}

.iss_tit{
    height: 120px;
    padding-bottom: 2px;
    border-bottom: 3px solid #000;
    transition: border-color .3s ease;
}

.main_info_slide .swiper-slide:not(.deactive):focus .iss_cont .iss_tit,
.main_info_slide .swiper-slide:not(.deactive):hover .iss_cont .iss_tit{
    border-color: #fff;
}

.iss_tit strong{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.5px;
    word-break: keep-all;
    line-height: 1.2;
}

.go_link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.go_link span{
    font-weight: 900;
    letter-spacing: -0.5px;
}

.main_info_slide .swiper-slide:focus .iss_cont .go_link_img,
.main_info_slide .swiper-slide:hover .iss_cont .go_link_img{
    filter: invert(1);
    -webkit-filter: invert(1);
}

.main_info_slide_control{
    position: absolute;
    right: calc((100vw - 1355px) / 2);
    top: 50%;
    transform: translateY(-50%);
    margin-right: -40px;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px 0;
}

.mis_btn button{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.mis_btn button::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.mis_btn button:hover::before{
    width: 85px;
    height: 85px;
}

.mis_setting button{
    background: var(--color2-) url('../img/btn_setting.png') center no-repeat;
}

.mis_setting button::before{
    background: #f3eee7;
}

.mis_next button{
    background: var(--color3-) url('../img/btn_info_next.png') center no-repeat;
}

.mis_next button::before{
    background: #e3e3e3;
}

/* main_communication */

#main_communication{
    background: url('../img/bg_sns_channel2.jpg') left bottom -25px no-repeat;
    background-size: 100%;
}

.main_communication{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_sns{
    width: calc(100% - 410px);
}

.main_sns .main_tit{
    padding-bottom: 40px;
}

.main_sns_link ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
}

.main_sns_link ul li a{
    display: inline-block;
}

.main_sns_link ul li a img{
    width: 50px;
}

.main_commu_slide_box{
    position: relative;
    box-sizing: border-box;
}

.main_commu_slide{
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 10px 20px 20px 20px;
}

.main_commu_slide .swiper-slide{
    position: relative;
    height: 370px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0.3;
    transition: opacity .5s ease, box-shadow .3s ease;
    will-change: opacity;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: #fff;
}

.main_commu_slide .swiper-slide.swiper-slide-prev,
.main_commu_slide .swiper-slide.swiper-slide-active,
.main_commu_slide .swiper-slide.swiper-slide-next{
    opacity: 1;
    transition: opacity .5s ease, box-shadow .3s ease;
}

.main_commu_slide .swiper-slide:hover{
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.main_commu_slide .swiper-slide a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mcss_inner{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.mcss_img{
    width: 100%;
    height: 225px;
    overflow: hidden;
    background: #f3f3f3;
}

.mcss_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.insta .mcss_img img{
    object-position: top;
}

.youtube .mcss_img img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.mcss_txt{
    width: 100%;
    margin-top: 15px;
}

.mcss_txt p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.2;
    color: #000;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.mcss_cate{
    width: 100%;
    height: 30px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-position: left center !important;
    background-repeat: no-repeat !important;
    background-size: 30px !important;
}

.facebook .mcss_cate{
    background: url('../img/icon_main_sns_facebook.png');
}

.insta .mcss_cate{
    background: url('../img/icon_main_sns_insta.png');
}

.youtube .mcss_cate{
    background: url('../img/icon_main_sns_youtube.png');
}

.twitter .mcss_cate{
    background: url('../img/icon_main_sns_x.png');
}

.mcss_cate span{
    font-size: 14px;
    color: #666;
    letter-spacing: -0.3px;
}

.mcs_control{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.msc_btn{
    pointer-events: all;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    transition: all .3s ease;
    background-position: center;
    background-repeat: no-repeat;
}

.mcs_prev.msc_btn{
    background-image: url('../img/btn_mb_prev.png');
}

.mcs_prev.msc_btn:hover{
    background-image: url('../img/btn_mb_prev_on.png');
}

.mcs_next.msc_btn{
    background-image: url('../img/btn_mb_next.png');
}

.mcs_next.msc_btn:hover{
    background-image: url('../img/btn_mb_next_on.png');
}

.msc_btn:hover{
    background-color: #000;
}

.main_koreaz{
    width: 360px;
    height: max-content;
}

.koreaz_tit{
    padding-bottom: 45px;
}

.koreaz_tit h2 img{
    height: 30px;
}

.koreaz_box{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    padding: 20px;
    background: #fff url('../img/koreaz-bg.png') no-repeat;
    background-position: center top -60px;
    background-size: 150%;
    box-sizing: border-box;
}

.koreaz_top{
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    margin-bottom: 25px;
}

.krz_top_img_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.krz_img{
    width: calc(50% - 6px);
}

.krz_top_link{
    width: 100%;
}

.krz_top_link ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.krz_top_link ul li{
    width: calc(50% - 6px);
}

.krz_top_link ul li a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -1px;
    transition: all .3s ease;
}

.krz_top_link ul li:first-child a{
    background: var(--color2-);
}

.krz_top_link ul li:last-child a{
    background: var(--color3-);
}

.krz_top_link ul li a:hover{
    background: #000;
}

.krz_video_link{
    width: 100%;
}

.krz_video_link a{
    display: block;
    transition: box-shadow .3s ease;
}

.krz_video_link a:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.krz_video_img{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.krz_video_img::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.krz_video_link a:hover .krz_video_img::after{
    background: rgba(0, 0, 0, 0);
}

.krz_video_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.krz_video_desc{
    background: #4d4d4d;
    text-align: center;
    transition: all .3s ease;
}

.krz_video_link a:hover .krz_video_desc{
    background: #000;
}

.krz_video_desc p{
    line-height: 24px;
    color: #fff;
    font-size: 12px;
}

.main_site_link{
    width: 100%;
    padding: 50px 0 90px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.msl_box{
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 25px);
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
    height: 80px;
    overflow: hidden;
}

.msl_box > div{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.msl_desc{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #000;
}

.msl_desc strong{
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-right: 20px;
}

.msl_desc span{
    margin-top: 9px;
    letter-spacing: -0.7px;
}

.dokdo .msl_link{
    background: url('../img/bg_east_dokdo.png') center no-repeat;
    background-size: cover;
}

.eastSea .msl_link{
    background: url('../img/bg_east_sea.png') center no-repeat;
    background-size: cover;
}

.msl_link{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 25px;
}

.msl_link::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.msl_link ul{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
}

.msl_link ul li a{
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 3px 7px;
    font-weight: 500;
    color: #fff;
    transition: all .3s ease;
}

.msl_link ul li a:hover{
    background: #fff;
    color: #000;
}

/* foreign_websites */

#foreign_websites{
    padding: 30px 0;
    background: var(--color2-) url('../img/bg_worldmap.png') center no-repeat;
    background-size: cover;
}

.foreign_websites{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foreign_websites > div{
    width: calc(50% - 4vw);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.frws_desc{
    justify-content: flex-end;
}

.fr_num{
    padding-left: 50px;
    background: url('../img/icon_embassy_tit.png') left center no-repeat;
    background-size: auto 50px;
    margin-right: 15px;
}

.fr_num strong{
    display: inline-block;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #fff;
    line-height: normal;
}

.frws_desc h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.7px;
    color: #fff;
}

.frws_desc h2 strong{
    display: inline-block;
    color: var(--color4-);
    font-weight: 700;
}

.frws_link_box{
    justify-content: flex-start;
}

.frws_link_box .frws_floor1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px 0;
}

.frws_link_box .frws_floor1 > li{
    position: relative;
    width: 380px;
}

.frws_select button{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 8px 0;
    height: 64px;
    box-sizing: border-box;
    border: 1px solid var(--color4-);
    padding: 0 30px;
    font-family: 'Noto Sans KR', serif;
    background-position: right 30px center;
    background-image: url('../img/arrow_embassy_down.png');
    background-repeat: no-repeat;
}

.frws_floor1 > li.active .frws_select button{
    border-color: #000;
    background-color: #fff;
    background-image: url('../img/arrow_embassy_up.png');
}

.frws_select button span{
    text-align: left;
    width: 100%;
    font-size: 14px;
    color: var(--color4-);
    font-weight: 500;
}

.frws_select button strong{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.frws_floor1 > li.active .frws_select button strong{
    color: #000;
}

.frws_floor2{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    max-height: 270px;
    overflow: auto;
    z-index: 2;
    background: #fff;
    border: 1px solid #000;
    border-top: 0px;
}

.frws_floor2 li{
    width: 100%;
}

.frws_floor2 li button{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -1px;
    width: 100%;
    text-align: left;
    font-family: 'Noto Sans KR', serif;
    box-sizing: border-box;
    padding-left: 15px;
    color: #000;
}

.frws_floor2 li button::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 6px;
    height: 1px;
    background: #000;
}

.frws_floor2 li button:hover{
    text-decoration: underline;
}

.frws_link{
    margin-top: 20px;
    width: 380px;
    text-align: center;
}

.frws_link a{
    display: inline-block;
    padding: 11px 22px;
    font-weight: 800;
    letter-spacing: -0.7px;
    background: #fff;
    color: var(--color4-);
    transition: all .3s ease;
}

.frws_link a:hover{
    background: var(--color4-);
    color: #fff;
}

/* bot_banner */

#bot_banner{
    padding: 30px 0;
    background: #f5f5f5;
}

.bot_banner_slide_box{
    width: 100%;
}

.bot_banner_slide{
    margin-bottom: 20px;
    overflow-x: hidden;
}

.bot_banner_slide .swiper-slide{
    width: 160px;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.bot_banner_slide .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bbs_control{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bbs_onOff button{
    width: 15px;
    height: 15px;
}

.bbs_onOff.play button{
    background: url('../img/btn_sdbanner_pause.png');
    background-position: center;
    background-size: 8px;
    background-repeat: no-repeat;
}

.bbs_onOff.pause{
    background: url('../img/btn_sdbanner_play.png');
    background-position: center;
    background-size: 9px;
    background-repeat: no-repeat;
}

.bbs_control a{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    padding-right: 30px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    background: url('../img/btn_fbn_more.png') right center no-repeat;
}

/* footer */

#footer{
    padding: 40px 0;
}

.footer_top{
    margin-bottom: 40px;
}

.ftr_inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.ft_desc{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ftr_logo{
    margin-right: 50px;
}

.ftr_logo img{
    height: 45px;
}

.ft_desc ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
}

.ft_desc ul li a{
    display: inline-block;
    padding: 10px 0;
    color: #000;
    font-weight: 500;
    letter-spacing: -0.7px;
}

.ft_desc ul li:last-child a{
    color: #1070c9;
}

.frs_floor1{
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
}

.frs_floor1 > li{
    position: relative;
    width: 210px;
}

.frs_btn button{
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding-right: 20px;
    border-bottom: 1px solid #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: #000;
}

.frs_btn button::after,
.frs_btn button::before{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
    height: 2px;
    background: #000;
}

.frs_btn button::before{
    transform: translateY(-50%);
}

.frs_btn button::after{
    transform: translateY(-50%) rotate(90deg);
}

.frs_floor1 > li.active .frs_btn button::after{
    display: none;
}

.frs_floor2{
    display: none;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #000;
    z-index: 10;
    max-height: 200px;
    overflow: auto;
}

.frs_floor2 li a{
    display: inline-block;
    line-height: 1.6;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.7px;
}

.frs_floor2{
    width: 100%;
}

.frs_floor2 li a:hover{
    text-decoration: underline;
}

.ftb_address_list{
    margin-bottom: 25px;
}

.ftb_address_list li{
    font-size: 16px;
    color: #000;
    letter-spacing: -1px;
    margin-bottom: 11px;
    font-weight: 500;
}

.ftb_address_list li .red{
    color: #ff0000;
}

.copyright{
    color: #4f6280;
    letter-spacing: -1px;
    font-size: 16px;
}